/* Layout para a página de produtos */
.home-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.home-title {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom:20px;
}

/* Grid de Produtos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Responsividade para a grid */
@media (max-width: 768px){
    .produt-grid{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}